# ==============================
# PostgreSQL
# ==============================
POSTGRES_IMAGE=postgres:16
POSTGRES_CONTAINER_NAME=payment-postgres
POSTGRES_DB=paymentdb
POSTGRES_USER=payment
POSTGRES_PASSWORD=payment
POSTGRES_PORT=5432
POSTGRES_VOLUME_NAME=pg_payment_data

# ==============================
# Zookeeper
# ==============================
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.6.1
ZOOKEEPER_CONTAINER_NAME=payment-zookeeper
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# ==============================
# Kafka
# ==============================
KAFKA_IMAGE=confluentinc/cp-kafka:7.6.1
KAFKA_CONTAINER_NAME=payment-kafka
KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181

# ==============================
# Kafka UI
# ==============================
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:latest
KAFKA_UI_CONTAINER_NAME=payment-kafka-ui
KAFKA_UI_PORT=8088
KAFKA_UI_CLUSTER_NAME=local
KAFKA_UI_BOOTSTRAP_SERVERS=kafka:29092